<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Alterar contato</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" type="text/css" href="/globalStyles.css" />
    <link rel="stylesheet" type="text/css" href="/listaContato.css" />
  </head>
  <body>
    <nav th:insert="navBar.html :: navbar"></nav>
    <h2>Alterar Contato</h2>
    <div class="bd-example m-0 border-0">
      <form
        th:action="@{'/contato/alterar/{id}'(id=${contato.id})}"
        th:object="${contato}"
        th:method="put"
      >
        <div class="mb-3">
          <label class="form-label" for="nome">Nome</label>
          <input class="form-control" type="text" th:field="*{nome}" id="nome" placeholder="Nome" />
          <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
        </div>

        <div class="mb-3">
          <label class="form-label" for="email">E-Mail</label>
          <input
		  class="form-control"
            type="text"
            th:field="*{email}"
            id="email"
            placeholder="E-Mail"
          />
          <span
            th:if="${#fields.hasErrors('email')}"
            th:errors="*{email}"
          ></span>
        </div>

        <div class="mb-3">
          <label class="form-label" for="telefone">Telefone</label>
          <input
		  class="form-control"
            type="text"
            th:field="*{telefone}"
            id="telefone"
            placeholder="Telefone"
          />
          <span
            th:if="${#fields.hasErrors('telefone')}"
            th:errors="*{telefone}"
          ></span>
        </div>

        <div class="mb-3">
          <label class="form-label" for="endereco">Endereço</label>
          <input
		  class="form-control"
            type="text"
            th:field="*{endereco}"
            id="endereco"
            placeholder="Endereço"
          />
          <span
            th:if="${#fields.hasErrors('endereco')}"
            th:errors="*{endereco}"
          ></span>
        </div>

        <div class="mb-3">
          <label class="form-label" for="bairro">Bairro</label>
          <input
		  class="form-control"
            type="text"
            th:field="*{bairro}"
            id="bairro"
            placeholder="Bairro"
          />
          <span
            th:if="${#fields.hasErrors('bairro')}"
            th:errors="*{bairro}"
          ></span>
        </div>

        <div class="mb-3">
          <label class="form-label" for="cidade">Cidade</label>
          <input
		  class="form-control"
            type="text"
            th:field="*{cidade}"
            id="cidade"
            placeholder="Cidade"
          />
          <span
            th:if="${#fields.hasErrors('cidade')}"
            th:errors="*{cidade}"
          ></span>
        </div>

        <div class="mb-3">
          <label class="form-label" for="estado">Estado</label>
          <input
		  class="form-control"
            type="text"
            th:field="*{estado}"
            id="telefone"
            placeholder="Estado"
          />
          <span
            th:if="${#fields.hasErrors('estado')}"
            th:errors="*{estado}"
          ></span>
        </div>

        <input type="submit" value="Alterar Contato" />
      </form>
    </div>
    <br />
    <form action="#" th:action="@{'/contato'}" th:method="get">
      <button type="submit" class="btn">Cancelar</button>
    </form>
  </body>
</html>
