<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head> 

    <title>Getting Started: Serving Web Content</title> 

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" th:fragment="navbar">
    <div class="container-fluid">
      <a class="navbar-brand bi bi-house-door" href="/"></a>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/contato">Listar contatos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/contato/novo">Novo contato</a>
        </li>
  
        <li class="nav-item">
        <a class="nav-link" href="/mensagem/enviar">Enviar Mensagem</a>
        </li>
  
      </ul>
      </div>
    </div>
    </nav>

</body>
</html>
  
  