<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h2>Lista de Contatos</h2>
	<div th:unless="${#lists.isEmpty(contatos)}">
		<table>
		    <tr>
		        <th>Nome</th>
		        <th>Email</th>
		        <th>Telefone</th>
		        <th>Endereço</th>
		        <th>Endereço</th>
		        <th>Endereço</th>
		    </tr>
		    <tr th:each="contato : ${contatos}">
		        <td class="align-middle" th:text="${contato.nome}"></td>
		        <td class="align-middle" th:text="${contato.email}"></td>
		        <td class="align-middle" th:text="${contato.telefone}"></td>
		        <td class="align-middle" th:text="${contato.endereco}"></td>

		    </tr>
		</table>
	</div>
</body>
</html>